<div class="container_cd">
    <div id="countdown">
        <ul>
            <li><span id="days"></span>{{ i18n "cd_days" }}</li>
            <li><span id="hours"></span>{{ i18n "cd_hours" }}</li>
            <li><span id="minutes"></span>{{ i18n "cd_minutes" }}</li>
            <li><span id="seconds"></span>{{ i18n "cd_seconds" }}</li>
        </ul>
    </div>
</div>

{{- $js := resources.Get "js/countdown.js" -}}
{{- $datevar := .CD_date -}}
{{- $opts := dict "params" (dict "countdown_date" $datevar) -}}
{{- $js = $js | js.Build $opts -}}
<script src="{{ $js.Permalink }}"></script>

{{/*  <script 
    src="/js/countdown.js">
</script>  */}}