<!-- Place in layouts > partials > image-modal.html -->
<!-- Use the partial at the bottom of any page in which you want magnific pop-up images,
  or simply place at the bottom of baseof.html -->
<!-- Modal will open upon clicking the image. Modal will close with clicking the x or image. -->

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="row">
            <div class="modal-column" style="border: 5px double red">
                <img src="/img/MyModal.png" alt="Alternate text" class="modal-image">
            </div>
            <div class="modal-column">
                <form action="https://getform.io/f/4804d94b-8f1q-4a05-a679-7da0ba070952" method="POST">
                    <label for="id_name" class="modal-label"> Name </label>
                    <input type="text" name="name" id="id_name" class="modal-input">
                    <label for="id_email" class="modal-label"> Email </label>
                    <input type="email" name="email" id="id_email" class="modal-input">
                    <label for="id_message" class="modal-label"> Message </label>
                    <textarea name="message" id="id_message" class="modal-textarea"> </textarea>
                    <input id="id_submit" class="modal-submit" name="submit" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>
  
  <script>

        // Get the modal
        var modal = document.getElementById("myModal");
    
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
    
        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

  </script>