<div class="bg-body dark:bg-darkmode-body" >
  {{ with .Params.photo }}
      {{ if .enable }}
      {{ with resources.Get .image }}
      {{ with .Fill "800x400 Center" }}
      <div class="mb-10">
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ .Title }}"
          Class=" rounded">
      </div>
      {{ end }}
      {{ end }}
      {{ else }}
      {{ with resources.Get "images/nieuws/base/1920_web_logo.png" }}
      {{ with .Fill "800x400 Center" }}
      <div class="mb-10 bg-theme-head rounded">
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ .Title }}"
          Class=" rounded">
      </div>
      {{ end }}
      {{ end }}

      {{ end }}
      {{ end }}
  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h4>
  <ul class="mb-4">
    <!-- <li class="mr-4 inline-block">
      <a href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/">
        <i class="fa-regular fa-circle-user mr-2"></i>{{ .Params.author }}
      </a>
    </li> -->
    <li class="mr-4 inline-block">
      <i class="fa-regular fa-folder mr-2"></i>
      {{ $categories:= .Params.categories }}
      {{ range $i,$p:= $categories }}
        <a
          href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
          class="ms-1"
          >{{ . }}{{ if ne $i (sub (len $categories) 1) }}
            {{ ", " }}
          {{ end }}
        </a>
      {{ end }}
    </li>
    <li class="text-slate-400 dark:text-slate-200">{{ .Params.date | time.Format ":date_long"}} - {{ .Params.date | time.Format
      ":time_short" }}
    </li>
  </ul>
  <p class="mb-6">{{ .Summary }}</p>
  <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">
    {{ i18n "read_more" }}
  </a>
</div>
