// Add your own custom styles here py-16 xl:py-20;
.section {
  @apply py-24 xl:py-28;

  &-sm {
    @apply py-8 xl:py-10;
  }

  &-home {
    @apply py-4 xl:py-6;
    overflow: hidden;
  }

  &-hslider {
    @apply py-2 xl:py-2;
    overflow: hidden;
  }

  overflow: hidden;
}

.div {
  overflow-y: hidden;
}

.home-slider { 
  width:100%; 
  position:relative; 
  z-index:2;
}

.home-slider .item {
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.home-slider .item:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 176, 227, 0); /* set color overlay in Head blue by adding opacity (alpha) of 0.4-0.5 */
}

.caption_home {
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 0 0 0 0;
}

.caption_home .slide_title {
  text-align: center;
}

.caption_home .slide_title img {
  display: block;
  width: 300px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.caption_home .slide_title h1 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #fff;
}
.caption_home .slide_title h2 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  display: block;
  color: #fff;
}
.home-tilelink {
  position: relative;
  border-radius: 6px;
}

.home-tilelink::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: rgba(99, 176, 227, 0.5); /* set color overlay in Head blue by adding opacity (alpha) of 0.4-0.5 */
}

.home-tilelink img {
  border-radius: 6px;
  width:100%;
  min-height:125px;
}

iframe {
  display: block;
  margin: auto;
}

@font-face {
  font-family: 'Metropolis-Bold';
  src: url('/fonts/Metropolis-Bold.otf') format('opentype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Metropolis-Bold, sans-serif;
}

.social-icons li a {
  --tw-bg-opacity: 1;
  background-color: #62B0E2;
  --tw-text-opacity: 1;
  color: #ffffff;
}

:is(.dark .social-icons li a) {
  --tw-bg-opacity: 1;
  background-color: #62B0E2;
  --tw-text-opacity: 1;
  color: #ffffff;
}

.nav-link {
  @apply text-dark hover:text-head dark:text-darkmode-dark active:text-head;
}

.nav-dropdown-link {
  @apply text-dark hover:text-head dark:text-darkmode-text dark:hover:text-darkmode-primary active:underline;
}

// content style table header
.content {
  @apply prose-thead:bg-theme-head prose-thead:dark:bg-theme-head;
  @apply prose-th:text-dark prose-th:dark:text-darkmode-dark;
}

// Mini table style
.minitable table {
  width: 30%;
}

.minitable th {
  padding-top: 5px;
  padding-bottom: 5px;
}

.minitable td {
  padding-top: 3px;
  padding-bottom: 3px;
}

// Countdown style

.container_cd {
  color: #ffffff;
  margin: 1em 0 0 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container_cd li {
  display: inline-block;
  font-size: .8em;
  list-style-type: none;
  padding: 0em 1em 0.5em 1em;
  text-transform: uppercase;
}

.container_cd li span {
  display: block; 
  font-size: 2rem;
}

.container_cd ul { 
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
}

@media all and (max-width: 768px) {
  .container_cd li {
    font-size: calc(.8rem * 0.75);
  }
  
  .container_cd li span {
    font-size: calc(2rem * 0.75);
  }
}

////////// Fixed Window //////////

.fixedWindow{
  position: fixed;
  z-index: 90;
  bottom: 10px;
  right: 20px; 
  padding: 10px;
  text-align: center;
  justify-content: center;
  border-radius: 8px;
  text-transform: uppercase;

}
.fixedWindow_gr{
  background-color: #4CAF50;
}
.fixedWindow_ye{
  background-color: #fbff00;
}
.fixedWindow_re{
  background-color: #ff0000;
}

.rounded_FW_Btn{
padding: 5px;
border-radius: 8px;
border-style: solid;
cursor: pointer;
}

.rounded_FW_Btn li {
  display: inline-block;
  font-size: .8em;
  list-style-type: none;
  padding: 0.5em 1em 0.5em 1em;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
}

@media all and (max-width: 720px) {
  .fixedWindow {
    display: none;
  }

}

////////// Fixed Button //////////

.fixedButton{
  position: fixed;
  z-index: 90;
  bottom: 10px;
  right: 20px; 
  padding: 10px;
  border-radius: 50%;
  display: auto;
  justify-content: center;
  color: #000000;
  border-radius: 8px;
  text-transform: uppercase;
}

////////// Current Weather Page//////////

.wc_currentpage{
  padding: 30px 5px 30px 15px;
  border-radius: 8px;
  text-transform: uppercase;
  }

.irishome img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

////////// Youtube aftermovie home page

.youtube-aftermovie {
  aspect-ratio: 16 / 9;
  width: 100%;
}