// Add your own custom styles here
.section {
    @apply py-24 xl:py-28;
    &-sm {
      @apply py-16 xl:py-20;
    }
    &-home {
      @apply py-4 xl:py-6;
      overflow: hidden;
    }
    overflow: hidden;
    // background-color: coral;
    }
.div {
    overflow-y: hidden;
    }
    
iframe {
  display: block;
  margin: auto;
}

@font-face {
  font-family: 'Metropolis-Bold';
  src: url('/fonts/Metropolis-Bold.otf') format('opentype');
}

h1, h2, h3 {
  font-family: Metropolis-Bold, sans-serif;
  }

