///// Partners /////

.partners {
    padding: 8px;
    padding-top: 0px;
    margin: 10px 0px;
  }
  
  .partners_container {
    padding: 0px;
  }
  
  .partners img {
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: 125px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .partners_griditems {
    margin: auto;
  }
  
  .partners_logo_grid {
    margin: 0 auto;
    box-sizing: inherit;
  }
  
  .partners_logo_grid h5 {
    width: 100%;
    text-align: left;
    // text-transform: uppercase;
    margin: 0;
    padding: 0;
    // font-size: 0.75rem;
    // letter-spacing: 4.2px;
    -webkit-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    transform: translate(0, 50%);
    padding-left: 10px;
  }
  
  .partners_logo_grid h5 * {
    display: inline;
    background-color: var(--head-light-gray);
    padding: 0 22px;
  }
  
  .partners_logo_grid .partners_grid_items {
    border: solid 0px #1b252e;
    padding: 50px 25px;
  }
  
  .partners_logo_grid .partners_grid_items::after {
    clear: both;
    content: "";
    display: block;
  }
  
  .partners_logo_grid .partners_grid_items .partners_grid_item {
    // width: calc(12.5% - 22.5px); // 8x 12.5% + (20px+ (20/8))
    width: calc(16.6667% - 31.6667px); // 6x 16.6667% + (40px + (40/6))
    // width: calc(25% - 50px); // 4x 25% + (40px + (40/4)) (margin-left: 40px)
    float: left;
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 1024px) {
    .partners_logo_grid .partners_grid_items .partners_grid_item {
        width: calc(33.333% - 53.333px); // 3x 33% + (40px + (40/3)) (margin-left: 40px)
        float: left;
        margin-left: 40px;
    }
  }
  
  @media (max-width: 768px) {
    .partners_logo_grid .partners_grid_items .partners_grid_item {
        width: calc(50% - 60px); // 2x 50% + (40px + (40/2)) (margin-left: 40px)
        float: left;
        margin-left: 40px;
    }
  }
  
  @media (max-width: 425px) {
    .partners_logo_grid .partners_grid_items .partners_grid_item {
        width: 100%;
        margin: 0;
        height: 200px;
    }
  }
  
  .partners_logo_grid .partners_grid_items .partners_grid_item img {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 150px;
  }