local_backend: true
backend:
  name: git-gateway
  squash_merges: true
logo_url: https://headoftheriver.nl/images/logos/logo_huf7a8c27693522814827308104210c1b5_29134_240x0_resize_q90_h2_lanczos_3.webp
display_url: https://headoftheriver.nl
media_folder: assets/images/nieuws
public_folder: /images/nieuws
publish_mode: editorial_workflow
i18n:
  structure: multiple_files
  locales: [nl, en]
  default_locale: nl
collections:
  - name: 'nieuws'
    i18n: true
    label: 'Nieuws'
    folder: 'content/nieuws'
    create: true
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    media_folder: assets/images/nieuws
    public_folder: /images/nieuws
    editor:
      preview: true
    fields:
      - { label: 'Titel', name: 'title', widget: 'string', i18n: true }
      - { label: 'Meta Titel', name: 'meta_title', widget: 'hidden', default: '', i18n: duplicate}
      - { label: 'Omschrijving', name: 'description', widget: 'hidden', default: "{{slug}}", i18n: duplicate}
      - { label: 'Draft', name: 'draft', widget: 'boolean', default: false, i18n: duplicate}
      - { label: 'Publicatie datum', name: 'date', widget: 'datetime', i18n: duplicate }
      - label: 'Headerfoto'
        name: 'photo'
        widget: 'object'
        collapsed: false
        i18n: true 
        fields:
          - label: 'Foto Weergeven?'
            name: 'enable'
            widget: 'boolean'
            default: false
            i18n: duplicate
          - label: 'Image'
            name: 'image'
            widget: 'image'
            required: false
            choose_url: false
            default: ''
            hint: 'Als je een foto toevoegd, dan ook aangeven wie de fotograaf was.'
            i18n: duplicate
          - label: 'Fotograaf'
            name: 'photographer'
            widget: 'string'
            default: ''
            required: false
            hint: 'Als je een foto toevoegd, dan ook aangeven wie de fotograaf was.'
            i18n: duplicate
      - label: 'Categorieën'
        name: "categories"
        widget: "select"
        multiple: true
        min: 2
        options: ["All", "2026", "2025", "2024", "2023"]
        i18n: duplicate
        hint: 'Selecteer de relevante categorieën. Meerdere opties mogelijk. Selecteer in ieder geval All'
      - { label: 'Auteur', name: 'author', widget: 'string', i18n: duplicate }
      - { label: 'Tags', name: 'tags', widget: 'hidden'}
      - { label: 'Body', name: 'body', widget: 'markdown', i18n: true, hint: 'Schrijf hier de hoofdtekst van het nieuwsbericht. Vergeet niet de engelse vertaling.' }
  - name: 'weercode_live'
    i18n: true
    label: 'Weercode'
    folder: "content/deelnemers/weercode_live/"
    create: false
    slug: '{{slug}}'
    description: >
      Deze sectie dient om de huidige weercode aanduiding op de site aan en uit te zetten. Ook kan de aanduiging en bijhorende teksten aangepast worden.
    fields:
      - label: 'Titel'
        name: "title"
        widget: "hidden"
        default: "Weather Code Live"
        i18n: duplicate
      - label: "Weercodeknop weergeven" 
        name: "weather_button"
        widget: "boolean"
        i18n: duplicate
      - label: 'Weercode'
        name: "weather_code"
        widget: "select"
        options: ["green", "yellow", "red"]
        i18n: duplicate
      - label: "Tekst Groen"
        name: "text_green"
        widget: "text"
        i18n: true
      - label: "Text Geel"
        name: "text_yellow"
        widget: "text"
        i18n: true
      - label: "Text Rood"
        name: "text_red"
        widget: "text"
        i18n: true        
      