{{ define "main" }}
<section>
  <div class="container text-center">
    <div {{ with resources.Get "images/nieuws/hero.png" }} 
    style="background-image: url('{{ .Permalink }}');
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center top;
     " {{ end }}
      class="from-body to-theme-light dark:from-darkmode-body dark:to-darkmode-theme-light rounded-2xl bg-gradient-to-b px-8 py-14">
      <h1>{{ .Title | title }}</h1>
      {{ partial "components/breadcrumb" (dict "Context" . "Class" "mt-6") }}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row gx-5">
      <!-- blog posts -->
      <div class="lg:col-8">
        <div class="row">
          {{ $paginator:= .Paginate .RegularPages 6}}
          {{ range $paginator.Pages }}
          <div class="md:col-6 mb-14">
            {{ partial "components/nieuws-card" . }}
          </div>
          {{ end }}
        </div>
        {{ partial "components/pagination.html" . }}
      </div>
      <!-- sidebar -->
      <div class="lg:col-4">
        <!-- widget -->
        {{ $widget:= site.Params.widgets.sidebar }}
        {{ partialCached "widgets/widget-wrapper" ( dict "Widgets" $widget "Scope" . ) }}
      </div>
    </div>
  </div>
</section>
{{ end }}