<section>
  <div class="container text-center">
    {{ $p := . }}
    {{ with .Page }}
      {{ $p = . }}
    {{ end }}
    {{ with $p.GetPage "images" }}
    <div {{ with .Resources.GetMatch "hero.*" }} 
    style="background-image: url('{{ .RelPermalink }}');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center top;" 
      {{ end }}
      class="from-body to-theme-light dark:from-darkmode-body dark:to-darkmode-theme-light rounded-2xl bg-gradient-to-b px-8 py-14">
      {{ else }}
      <div {{ with $p.Resources.GetMatch "images/hero.*" }} 
      style="background-image: url('{{ .RelPermalink }}');
          background-repeat: no-repeat;
          background-size: auto;
          background-position: center top;"
        {{ end }}
        class="from-body to-theme-light dark:from-darkmode-body dark:to-darkmode-theme-light rounded-2xl bg-gradient-to-b px-8 py-14">
      {{ end }}  
      <h1>{{ $p.Title | title }}</h1>
        {{ partial "components/breadcrumb" (dict "Context" $p "Class" "mt-6") }}
    </div>
  </div>
</section>
