<div class="md:col-6 lg:col-3 mb-4">
  <a href="{{ .RelPermalink }}">
    <div class="bg-theme-light dark:bg-darkmode-theme-light rounded p-8 text-center" style="padding: 16px; height:100%">

      {{ with .Params.photo }}
      {{ if .enable }}
      {{ with resources.Get .image }}
      {{ with .Fill "800x400 Center" }}
      <div class="mb-10">
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ .Title }}"
          Class=" rounded">
      </div>
      {{ end }}
      {{ end }}
      {{ else }}
      {{ with resources.Get "images/nieuws/base/1920_web_logo.png" }}
      {{ with .Fill "800x400 Center" }}
      <div class="mb-10 bg-theme-head rounded">
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ .Title }}"
          Class=" rounded">
      </div>
      {{ end }}
      {{ end }}

      {{ end }}
      {{ end }}
      
      <div class="text-slate-400 dark:text-slate-200">{{ .Date | time.Format ":date_long"}} - {{ .Date | time.Format
        ":time_short" }}</div>
      <h4 class="mb-3">{{ .Title | markdownify }}</h4>
      
      <!-- <p class="mb-4" style="height:10ch;">{{ .Summary | markdownify }}</p> -->
    </div>
  </a>
</div>