<div class="md:col-6 lg:col-3 mb-14">
<a href="{{ .RelPermalink }}" >
  <div class="bg-theme-light dark:bg-darkmode-theme-light rounded p-8 text-center" style="padding: 16px;">
    {{ with .Resources.GetMatch "images/hero.*" }}
      <img src="{{ .RelPermalink }}" caption="" alt="image1" loading="lazy" decoding="async" class="mx-auto mb-6 rounded img" width="200" height="200">
    {{ end }}
    <h4 class="mb-3">{{ .Title | markdownify }}</h4>
    <div class="text-slate-400 dark:text-slate-200">{{ .Date | time.Format ":date_long"}} - {{ .Date | time.Format ":time_short" }}</div>
    <p class="mb-4" style="height:10ch; overflow: hidden;">{{ .Summary | markdownify }}</p>
  </div>
</a>
</div>