{{ define "main" }}
{{ with site.GetPage "homepage" }}
<!-- Banner -->
<section class="section-hslider">
  <div class="banner-wrapper">
    <div class="home-slider">
      <div class="item" style="background-image: url('../assets/images/homepage/HomeSider_2023_Blue_1920-2.jpg'); height: 600px;">
        <div class="caption_home">
           <div class="container">
             <div class="slide_title">
              <img src="../assets/images/logos/logo-darkmode.png" >
               <h1>9 & 10 Maart 2024</h1>
               <h2 id="countdown"></h2>
               <script>
                // Set the date we're counting down to
                var countDownDate = new Date("Mar 9, 2024 12:00:00").getTime();
      
                // Update the count down every 1 second
                var x = setInterval(function () {
      
                  // Get today's date and time
                  var now = new Date().getTime();
      
                  // Find the distance between now and the count down date
                  var distance = countDownDate - now;
      
                  // Time calculations for days, hours, minutes and seconds
                  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      
                  // Output the result in an element with id="demo"
                  document.getElementById("countdown").innerHTML = days + "d " + hours + "h "
                    + minutes + "m " + seconds + "s ";
      
                  // If the count down is over, write some text 
                  if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("countdown").innerHTML = "De Head of the River Amstel is begonnen!";
                  }
                }, 1000);
              </script>
             </div>
           </div>
         </div>
       </div>
    </div>
  </div>









  
</section>
<!-- /banner -->
<!-- Latest News -->
<section class="section-home">
  <div class="container" style="margin:auto;">
    <div class="row justify-center">
      <div class="lg:col-10 mb-8 mt-8 text-center">
        <h2>{{i18n "news"}}</h2>
      </div>
    </div>
    <div class="row justify-center">
      {{ range first 3 ( sort (where site.RegularPages "Section" "nieuws") "Date" "desc" ) }}
      {{ partial "page-card" . }}
      {{ end }}
    </div>
  </div>
</section>
<!-- /Latest News -->
<!-- Divider -->
<section class="section-home mt-8 mb-8 bg-theme-head">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-10 mb-8 mt-8 text-center">
        <h2>"Dè Lange Afstandsklassieker van Nederland"</h2>
      </div>
    </div>
  </div>
</section>
<!-- /Divider -->
<!-- LinkTiles -->
{{ with .Params.linktiles }}
<section class="section-home">
  <div class="container" style="margin:auto;">
    <div class="row justify-center">
      <div class="md:col-6 lg:col-3 mb-4">
        <a href="{{ .link1 | absURL }}">
          <div class="bg-theme-light dark:bg-darkmode-theme-light rounded p-8 text-center"
            style="padding: 16px; height:100%;">
            {{ $image := resources.Get .image1 }}
            <img src="{{ $image.RelPermalink }}" caption="" alt="image1" loading="lazy" decoding="async"
              class="mx-auto mb-6 rounded img" width="200" height="200">
            <h4 class="mb-3">{{ .title1 | markdownify }}</h4>
            <p class="mb-4" style="overflow: hidden;">{{ .text1 | markdownify }}</p>
          </div>
        </a>
      </div>
      <div class="md:col-6 lg:col-3 mb-4">
        <a href="{{ .link2 | absURL }}">
          <div class="bg-theme-light dark:bg-darkmode-theme-light rounded p-8 text-center"
            style="padding: 16px; height:100%;">
            {{ $image := resources.Get .image2 }}
            <img src="{{ $image.RelPermalink }}" caption="" alt="image1" loading="lazy" decoding="async"
              class="mx-auto mb-6 rounded img" width="200" height="200">
            <h4 class="mb-3">{{ .title2 | markdownify }}</h4>
            <p class="mb-4" style="overflow: hidden;">{{ .text2 | markdownify }}</p>
          </div>
        </a>
      </div>
      <div class="md:col-6 lg:col-3 mb-4">
        <a href="{{ .link3 | absURL }}">
          <div class="bg-theme-light dark:bg-darkmode-theme-light rounded p-8 text-center"
            style="padding: 16px; height:100%;">
            {{ $image := resources.Get .image3 }}
            <img src="{{ $image.RelPermalink }}" caption="" alt="image1" loading="lazy" decoding="async"
              class="mx-auto mb-6 rounded img" width="200" height="200">
            <h4 class="mb-3">{{ .title3 | markdownify }}</h4>
            <p class="mb-4" style="overflow: hidden;">{{ .text3 | markdownify }}</p>
          </div>
        </a>
      </div>
      <div class="md:col-6 lg:col-3 mb-4">
        <a href="{{ .link4 | absURL }}">
          <div class="bg-theme-light dark:bg-darkmode-theme-light rounded p-8 text-center"
            style="padding: 16px; height:100%;">
            {{ $image := resources.Get .image4 }}
            <img src="{{ $image.RelPermalink }}" caption="" alt="image1" loading="lazy" decoding="async"
              class="mx-auto mb-6 rounded img" width="200" height="200">
            <h4 class="mb-3">{{ .title4 | markdownify }}</h4>
            <p class="mb-4" style="overflow: hidden;">{{ .text4 | markdownify }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Tiles -->
<!-- Weather -->
<section class="section-home mt-8 mb-8">
  <div class="row items-center justify-between">
    <div class="md:col-6 py-10 bg-theme-head">
      <iframe width="325" height="325"
        src="https://embed.windy.com/embed2.html?lat=52.264&lon=4.983&detailLat=60.172&detailLon=24.935&width=300&height=250&zoom=9&level=surface&overlay=wind&product=ecmwf&menu=&message=true&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=m%2Fs&metricTemp=%C2%B0C&radarRange=-1"
        frameborder="0"></iframe>
    </div>
    <div class="md:col-6 py-8 text-center">
      <iframe title="widget" width="100%" height="325px" frameBorder="0" scrolling="no" loading="lazy"
        src="https://www.weeronline.nl/widget/weather?id=4058223"></iframe>
    </div>
</section>
<!-- /Weather -->
<!-- Sponsors -->
<section class="section-home mb-8">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-10 mb-0 mt-0 text-center">
        <h3 style="display: block; margin-left: auto; margin-right: auto; position:relative; text-align: center;">{{i18n
          "poweredBy"}}</h3>
        {{ $image := resources.Get "images/logos/RG_Final_A _500w.png" }}
        <a href="https://www.roeigoed.nl" target="_blank"><img src="{{ $image.RelPermalink }}" caption="" alt="KNRB"
            class="bg-transparent dark:bg-white p-px"
            style="min-width:150px; width: 25%; display: block; margin-left: auto; margin-right: auto; position:relative; margin-top: 25px;"></a>
      </div>
    </div>
  </div>
</section>
<!-- /Sponsors -->
{{ end }}
{{ end }}