{{ define "main" }}
{{ partial "page-header_listpage" . }}

<section class="section-sm">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-10">
        <div class="content">
          <h3>{{i18n "hospitality_title1"}}</h3>
          {{ range .RegularPages }}
          {{ if .Params.headmenu}}
          <div class="m-3 flex flex-wrap horeca_bordered">
            <div class="w-full md:w-1/3 flex justify-center items-center">
              <img src="{{ .Params.image }}" alt="{{ .Title }}" class="w-full h-auto"
                style="width: 200px; height: 200px; object-fit: cover;">
            </div>
            <div class="w-full md:w-2/3 p-4">
              <a href="{{ .Params.weblink }}" target="_blank" class="text-dark dark:text-darkmode-dark block text-xl">
                <h3>{{ .Title }}</h3>
              </a>
              <p>{{ .Content }}</p>
            </div>
          </div>
          {{ end }}
          {{ end }}

          <div style="padding-top: 50px;">
            <h3>{{i18n "hospitality_title2"}}</h3>
          </div>

          {{ range .RegularPages }}
          {{ if not .Params.headmenu}}
          <div class="m-3 flex flex-wrap horeca_bordered">
            <div class="w-full md:w-1/3 flex justify-center items-center">
              <img src="{{ .Params.image }}" alt="{{ .Title }}" class="w-full h-auto"
                style="width: 200px; height: 200px; object-fit: cover;">
            </div>
            <div class="w-full md:w-2/3 p-4">
              <a href="{{ .Params.weblink }}" target="_blank" class="text-dark dark:text-darkmode-dark block text-xl">
                <h3>{{ .Title }}</h3>
              </a>
              <p>{{ .Content }}</p>
            </div>
            {{/*  <div class="w-full" style="border-bottom: 2px solid var(--head-blue); padding: 2px;"></div>  */}}
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}