{{ define "main" }}
{{ partial "page-header" . }}

<section class="section-sm" style="padding-bottom:0">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-10">
        <div class="content">
          <h3>{{i18n "submenus"}}</h3>
        </div>
        <div class="linksbar-widgetwrap">
          {{ $bg_im := resources.Get "images/homepage/ql_background.webp" }}
          <div class="linksbar-widget-container" style="background-image: url('{{ $bg_im.RelPermalink }}')">
            <div class="lb-content-wrap">
              <div class="lb-content-main">
                <ul class="lb-content-main-button-wrap">
                  {{ range .Pages }}
                  {{ if not (strings.Contains .File.Path "images") }}
                  <li>
                    <a href="{{ .Permalink }}">
                      <button type="button" class="lb-content-main-button-link">{{ .Title }}</button>
                    </a>
                  </li>
                  {{ end }}
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ with .Params.quick_links }}
<section class="section-sm" style="padding-top:0">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-10">
        <div class="content">
          <h3>{{i18n "quick_links"}}</h3>
        </div>
        <div class="linksbar-widgetwrap">
          {{ $bg_im := resources.Get "images/homepage/ql_background.webp" }}
          <div class="linksbar-widget-container" style="background-image: url('{{ $bg_im.RelPermalink }}')">
            <div class="lb-content-wrap">
              <div class="lb-content-main">
                <ul class="lb-content-main-button-wrap">
                  {{ range $i, $e:= .buttons }}
                  <li>
                    <a href={{ .link }}>
                      <button type="button" class="lb-content-main-button-link">{{ .button }}</button>
                    </a>
                  </li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ end }}