{{ define "main" }}
{{ partial "page-header" . }}
{{/*  <section>
  <div class="container text-center">
    <div {{ with resources.Get "images/contact/hero.png" }} 
    style="background-image: url('{{ .Permalink }}');
    min-height: 100%;
    background-opacity: 0.2;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; " {{ end }}
      class="from-body to-theme-light dark:from-darkmode-body dark:to-darkmode-theme-light rounded-2xl bg-gradient-to-b px-8 py-14">
      <h1>{{ .Title | title }}</h1>
      {{ partial "components/breadcrumb" (dict "Context" . "Class" "mt-6") }}
    </div>
  </div>
</section>  */}}
  <section class="section-sm">
    <div class="container mb-4">
      <div class="row justify-center">
        <div class="lg:col-10">
          <div class="content">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-center gx-5">
        <div class="md:col-10 lg:col-6  mt-6">
          <form name="contact formulier" method="POST" data-netlify="true" data-netlify-recaptcha="true">
            <div class="mb-6">
              <input type="hidden" name="subject" value="Nieuw bericht van het Contactformulier" />
              <label for="name" class="form-label">
                {{.Params.title_name}} <span class="text-red-500">*</span>
              </label>
              <input
                id="name"
                name="name"
                class="form-input"
                placeholder=""
                type="text" />
            </div>
            <div class="mb-6">
              <label for="email" class="form-label">
                {{.Params.title_emailaddress}} <span class="text-red-500">*</span>
              </label>
              <input
                id="email"
                name="email"
                class="form-input"
                placeholder=""
                type="email" />
            </div>
            <div class="mb-6">
              <label for="phone" class="form-label">
                {{.Params.title_phone}}
              </label>
              <input
                id="phone"
                name="phone"
                class="form-input"
                placeholder=""
                type="text" />
            </div>
            <div class="mb-6">
              <label for="subjectform" class="form-label">
                {{.Params.title_subject}} <span class="text-red-500">*</span>
              </label>
              <input
                id="subjectform"
                name="subjectform"
                class="form-input"
                placeholder=""
                type="text" />
            </div>
            <div class="mb-6">
              <label for="message" class="form-label">
                {{.Params.title_message}} <span class="text-red-500">*</span>
              </label>
              <textarea
                id="message"
                name="message"
                class="form-input"
                placeholder=""
                rows="8"></textarea>
            </div>
            <div data-netlify-recaptcha="true"></div>
            <button type="submit" class="btn btn-primary">{{.Params.title_button}}</button>
          </form>
        </div>
        <div class="md:col-10 lg:col-3 mt-6">
          <h3>{{.Params.title_address}}</h3>
          <p>Head of the River Amstel</p>
          <p>Jan Vroegopsingel 8</p>
          <p>1096CN, Amsterdam</p>
        </div>
      </div>
    </div>
  </section>
{{ end }}
