<div id="checkout"> 
    <form action="/winkel/paylink/" method="post" onchange="setAddons(this)" name="bestellen" data-netlify="true" data-netlify-recaptcha="true">
        <input name="_gotcha" style="display:none" type="text">
        <input name="_to" type="hidden" value="webmaster@headoftheriver.nl">
        <input name="_subject" value="New order!" type="hidden">
        <input name="ordernumber" value="" type="hidden">

        <div class="half">
            <label class="form-label" for="firstname">{{ i18n "shop_first_name" }} <span class="text-red-500">*</span></label>
            <input class="form-input" type="text" name="firstname" required />
        </div>

        <div class="half">
            <label class="form-label" for="lastname">{{ i18n "shop_last_name" }} <span class="text-red-500">*</span></label>
            <input class="form-input" type="text" name="lastname" required />
        </div>

        <div>
            <label class="form-label" for="email">{{ i18n "shop_email_address" }} <span class="text-red-500">*</span></label>
            <input class="form-input" type="email" name="email" required />
        </div>

        <div>
            <label class="form-label" for="phone">{{ i18n "shop_phone" }} <span class="text-red-500">*</span></label>
            <input class="form-input" type="text" name="phone" required />
        </div>

        {{/*  <div>
            <label class="form-label" for="address"> {{ i18n "shop_address" }} <span class="text-red-500">*</span></label>
            <input class="form-input" type="text" name="address" required />
        </div>  */}}

        {{/*  <div class="half">
            <label class="form-label" for="zipcode">{{ i18n "shop_zipcode" }} <span class="text-red-500">*</span></label>
            <input class="form-input" type="text" name="zipcode" required />
        </div>  */}}

        {{/*  <div class="half">
            <label class="form-label" for="city">{{ i18n "shop_city" }} <span class="text-red-500">*</span></label>
            <input class="form-input" type="text" name="city" required />
        </div>  */}}

        {{/*  <div>
            <label class="form-label" for="shipping">{{ i18n "shop_shipping" }} <span class="text-red-500">*</span></label>
            <select class="form-input" name="shipping" required onchange="if(this.value == 'NL') document.querySelector('input[name=\'country\']').value = 'The Netherlands'; else document.querySelector('input[name=\'country\']').value = ''">
                <option value=""></option>
                <option value="NL" data-title="Shipping NL">The Netherlands (+ &euro; 0.00)</option>
                <option value="EU" data-title="Shipping EU" data-price="7.5">European Union (+ &euro; 7.50)</option>
                <option value="World" data-title="Shipping World" data-price="15">Rest of the world (+ &euro; 15.00)</option>
            </select>
        </div>  */}}

        {{/*  <div>
            <label class="form-label" for="country">{{ i18n "shop_country" }} <span class="text-red-500">*</span></label> 
            <input class="form-input" type="text" name="country" required />
        </div>  */}}

        {{/*  <div>
            <label>{{ i18n "shop_gift_wrapping" }}</label>
            <label><input type="radio" name="wrapped" value="no" required> {{ i18n "shop_no_giftwrap" }}</label>
            <label><input type="radio" name="wrapped" data-title="Gift wrapped" value="yes" data-price="2" required> {{ i18n "shop_giftwrapped" }} (+ &euro; 2.00)</label>
        </div>  */}}

        <div>
            <label class="form-label" for="message">{{ i18n "shop_message" }}</label>
            <textarea class="form-input" name="message"></textarea>
        </div>
        <div data-netlify-recaptcha="true"></div>
        <div class="submitbutton"><a href="{{ with .Site.GetPage `/winkel/cart.md` }}{{ .RelPermalink }}{{ end }}" class="gray">{{ i18n "shop_back_to_cart" }}</a><button type="submit" onclick="setOrderNumber(this.parentNode.parentNode);">
            {{ i18n "shop_proceed_payment" }}
          </button>
        </div>

    </form>
    <div>
        <label class="form-label" style="padding-top: 0.8rem;">{{ i18n "shop_payment_total" }}</label>
        <div id="checkoutcalculation">
            <span>{{ i18n "shop_shopping_cart"}}: </span>€ 0.00
        </div>
        <p><em>{{ .Get 0 }}</em></p>
    </div>
</div>


<div style="margin-top: 50px; position: relative; top: 30px;">
        <ul id="checkout_progress">
            <li class="past"><span><a href="{{ with .Site.GetPage `/winkel/cart.md` }}{{ .RelPermalink }}{{ end }}">{{ i18n "shop_shopping_cart"}}</a></span></li><li class="current"><span><a href="#">{{ i18n "shop_checkout"}}</a></span></li><li><span><span>{{ i18n "shop_payment"}}</span></span></li>
        </ul>
</div>