{{ define "main" }}

{{ partial "page-header_products" . }}

{{ partial "shop/cartbutton" . }}


<section class="section-sm pt-7 product">
	<div class="container">
		<div class="row justify-center">
			<div class="lg:col-10">
				<div class="content" id="product">

					<article>

						<div class="productpage">
							{{ partial "shop/productimages.html" . }}

							<div class="text">
								<h2>{{ .Title }}</h2>

								{{ if( gt (index .Params.variants 0 ).price 0 ) }}
								<h4>&euro; <span class="productprice"> {{ (index .Params.variants
										0).price | lang.FormatNumber 2 }}</span></h4>
								{{ else }}
								{{/* {{ partial "products/share-buttons.html" . }} */}}
								{{ end }}

								<form action="{{ with .Site.GetPage `/shop/cart.md` }}{{ .RelPermalink }}{{ end }}"
									onsubmit="return addToCart(this)">

									{{ if (index .Params.variants 1).name }}

									<div>
										<label for="variant">Choose a {{ .Params.variant_type
											}}:</label>
										<select onchange="updateBuyButton(this)" id="variant" name="variant">
											{{ range $variants :=.Params.variants }}<option
												data-sku="{{ $variants.sku }}" data-variantname="{{ $variants.name }}"
												data-price="{{ $variants.price }}">{{ $variants.name }}
											</option>{{ end }}
										</select>
									</div>
									{{ end }}
									{{ if gt (index .Params.variants 0).price 0 }}
									<div>
										<input type="submit" 
												
												data-sku="{{ (index .Params.variants 0).sku }}"
												data-title="{{ .Params.Title }}" 
												data-varianttype="{{ .Params.variant_type }}"
												data-variantname="{{ (index .Params.variants 0).name }}" 
												data-price="{{ (index .Params.variants 0).price }}"
												{{ with resources.Get .Params.image }}
													data-url="{{ .RelPermalink }}" 
													data-image="{{ .RelPermalink }}" 
												{{ end }}
												value="{{ i18n "shop_add_to_cart" }}" />
									</div>
									{{ end }}
								</form>

								{{ partial "shop/productimages.html" . }}

								{{ .Content }}
							</div>
						</div>

					</article>
				</div>
			</div>
		</div>
	</div>
</section>
{{/* </div>
</div>
</section>
</div> */}}

{{ end }}