<section class=section_cartbutton>
    <div class="container">
        <div class="row justify-center">
            <div class="lg:col-10">
                <div class="content">
                    <div class="cartbutton" id="cartlink">
                        <form action="../shop/cart/">
                            <input type="submit" value="Winkelwagen" />
                            <span class="itemcount" style="display: initial;">0</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>