{{ define "main" }}
{{ partial "page-header" . }}

<section class="section-sm">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-10">
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-sm" style="padding-top:0">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-10">
        <div class="faq-accordion">
          {{ range .Pages.ByWeight }}
            {{ if and (eq .Type "faq") .Params.question }}
            <div class="accordion" id="faq-{{ .Params.slug }}">
              <button class="accordion-header" data-accordion aria-expanded="false">
                {{ .Params.question }}
                <svg class="accordion-icon" viewBox="0 0 512 512">
                  <path fill="currentColor"
                    d="M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z">
                  </path>
                </svg>
              </button>
              <div class="accordion-content">
                {{ .Content }}
              </div>
            </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}